extends ../layouts/default

mixin pet(name)
  li.pet= name

mixin event(event)
  .event(data-ks-editable=editable(user, { list: 'Project', id: event.id }))
    h2: a(href='/events/' + event.slug)= event.name
    
block intro
  .container
      h1= data.events ? data.events.status: 'Events'
      
block content
  .container
    .jumbotron  
      if data.upcoming.results == ''
        p There are no upcoming events!
      else
        h1 Upcoming
        each event in data.upcoming.results
          +event(event)
      
      if data.past.results == ''
        p There are no past events!
      else
        h1 Past
        each event in data.past.results
          +event(event)
