extends ../layouts/default

block vars
  - var title = "CGC | Events"
    
block intro
  .container
      h1= data.events ? data.events.status: 'Events'
      
block content
  .container
    h1 Upcoming 
    if data.upcoming.results == ''
      p There are no upcoming events!
    else
      each event in data.upcoming.results
        +listEvents(event)
    
    h1 Past
    if data.past.results == ''
      p There are no past events!
    else
      each event in data.past.results
        +listEvents(event)
