extends ../layouts/default

block vars
  - var title = "CGC | Members"

block content
  .container
    .jumbotron  
      each member in data.members.results
        h6= member.name.first+' '+member.name.last
        p= member.username
