extends ../layouts/default

block vars
  - var title = "CGC | "+ data.projectpage.name

block css
  style
    //- include= data.projectpage.codes.css

block content
  if !data.projectpage.main
    //- Check for a main Gallery
    p No Gallery!
  
  if !data.projectpage.images
    //- Create a carousel if multiple images in Gallery
    +carousel(data.projectpage.main)
  
  else
    //- Load image if only one image is in Gallery
    +image(data.projectpage.main.heroImage.url)                  
                  
  .container: .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-0.col-lg-12.col-lg-offset-0
    if data.projectpage.subs
      h2 Other Galleries
      each gallery in data.projectpage.subs
        a(href="#"+gallery.key+"" data-toggle="modal"): +thumbnail(gallery.images[0].url)
        +modalcarousel(gallery)
    
    .container 
      .description: .col-lg-6
        h1 About this project
        +p(data.projectpage.full)
      .document:  .col-lg-6
        h1 Documentation
        if data.projectpage.document
          +p(data.projectpage.document.preview)
        else
          h5 There is no documentation yet! Sorry!
        
    .container
      .team:  .col-lg-12
          h1 The Team
          .team-profile  
            each member in data.projectpage.members
              .member: .col-sm-3.col-md-2.col-lg-2
                .img-responsive
                  //todo Create logic for loading Image
                  // img(src= data.projectpage.main.heroImage.url)
                .member-text
                  p= member.name.first+' '+member.name.last    
    
block js
  // include= data.projectpage.codes.javascript
                  
