extends ../layouts/default

block vars 
  - var title = "CGC | Projects"
    
block intro
  .container
      h1.text-center(id='page-title' style="padding: 25px")= data.projects ? data.projects.status: 'Projects'
      
block content
  .container
    .jumbotron  
      if data.active.results == ''
        .project
         p There are no active projects! Oh No!
      else
        each project in data.active.results
            +listProjects(project)
            
          
      if data.idle.results == ''
        .project
          p There are no idle projects! Yay us!
      else
        each project in data.idle.results
            +listProjects(project)
          
      
      if data.complete.results == ''
        .project
          p There are no complete projects! This can't be happening!
      else
        each project in data.complete.results
            +listProjects(project)
      
